@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  color: #4d4f62;
  background-color: #f2f2f253;
  margin: 32px;
}
header {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 24px;
  font-weight: 275;
  line-height: 36px;
}
p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 50%;
  margin-top: 15px;
  max-width: 500px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
div.card p {
  font-size: 13px;
  line-height: 23px;
  margin-top: 3px;
}
.card {
  width: 311px;
  height: 222px;
  border-radius: 8px;
  padding: 28px;
  background-color: white;
  box-shadow: 0 15px 30px rgba(132, 169, 213, 0.289);
  position: relative;
  text-align: start;
}
.icons {
  width: 20%;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.supervisor {
  border-top: 3.55px solid #44d3d2;
}
.team-builder {
  border-top: 3.55px solid #ea5454;
}
.karma {
  border-top: 3.55px solid #fcae4a;
}
.calculator {
  border-top: 3.55px solid #549ef2;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 36px;
    line-height: 54px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .supervisor {
    grid-row: 1/3;
  }
  .karma {
    grid-column: 2;
  }
  .calculator {
    grid-column: 3;
    grid-row: 1/3;
  }
  .card {
    width: 350px;
    height: 250px;
  }
}
